<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <p>
      Hello everyone 👋. The existence reason of this site is just for fun...
      there is nothing to look here :P. Have a nice day
    </p>
  </body>
</html>
